@import 'src/styles/includes/includes';

.pagination {
  display: flex;
  justify-content: center;
  margin-top: rem(40);
}

.list {
  display: flex;
  margin: 0 rem(-2.5);
}

.item {
  padding: 0 rem(2.5);
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: rem(25);
  height: rem(25);
  border-radius: 50%;

  @include tablet {
    width: rem(40);
    height: rem(40);
  }

  &.clickable {
    @include trans;

    @include hf {
      background-color: $color-primary;

      .icon {
        color: $color-bg;
      }

      .text {
        color: $color-bg;
      }
    }
  }

  &.active {
    .text {
      color: $color-primary;
    }
  }

  &.disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
}

.icon {
  @include trans;
  width: rem(15);
  color: $color-title;

  @include tablet {
    width: rem(20);
  }

  &.small {
    width: rem(10);

    @include tablet {
      width: rem(15);
    }
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.text {
  @include font(ti-700);
  @include trans;
  text-align: center;
  font-size: rem(14);
  line-height: 1;
  color: $color-title;

  @include mobile {
    margin-bottom: rem(-3);
  }

  @include tablet {
    font-size: rem(18);
  }
}
