@import 'src/styles/includes/includes';

.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @include mobile {
    justify-content: center;
  }
}

.link {
  @include font(ti-400);
  @include trans;
  display: block;
  padding: rem(10);
  font-size: rem(20);
  color: $color-title;

  @include laptop {
    padding: rem(15);
  }

  @include hf {
    color: $color-primary;
  }
}
