@import 'src/styles/includes';

.post {
  background-color: $color-bg;
}

.title {
  @include font(ti-700);
  font-size: rem(36);
  color: $color-title;

  @include laptop {
    font-size: rem(52);
  }
}

.excerpt {
  @include font;
  font-size: rem(20);
  color: $color-text;

  @include laptop {
    font-size: rem(24);
  }
}

.info {
  display: flex;
  align-items: center;

  &__author {
    @include font(ti-500);
    font-size: rem(18);
    color: $color-title;

    @include laptop {
      font-size: rem(20);
    }

    &-img {
      border-radius: 5px;
    }
  }

  &__text {
    margin-left: rem(20);
  }

  &__numbers {
    @include font;
    display: flex;
    font-size: rem(16);
    color: $color-text;

    @include laptop {
      font-size: rem(18);
    }
  }
}

.divider {
  margin: 0 rem(5);
}

.cover {
  position: relative;
  width: 100%;
  height: rem(300);

  @include laptop {
    height: rem(500);
  }

  @include desktop {
    height: rem(700);
  }
}
