@import 'src/styles/includes';

.link {
  @include font(ti-700);
  display: block;
  text-align: center;
  font-size: rem(30);

  @include laptop {
    font-size: rem(34);
  }

  @include hf {
    span {
      color: $color-bg;
      background-color: $color-primary;
    }
  }

  span {
    @include trans;
    color: $color-title;
  }
}
