@import 'src/styles/includes/includes';

.link {
  @include font(ti-700);
  @include trans;
  display: block;
  font-size: rem(32);
  color: $color-title;

  @include mobile {
    text-align: center;
  }

  @include hf {
    color: $color-primary;
  }
}
