// Title
@font-face {
  font-family: '#{$font-title-name} Regular';
  src: url('../../fonts/#{$font-title-path-name}-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: '#{$font-title-name} Medium';
  src: url('../../fonts/#{$font-title-path-name}-Medium.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: '#{$font-title-name} Bold';
  src: url('../../fonts/#{$font-title-path-name}-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
}

// Text
@font-face {
  font-family: '#{$font-text-name} Regular';
  src: url('../../fonts/#{$font-text-path-name}-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: '#{$font-text-name} Italic';
  src: url('../../fonts/#{$font-text-path-name}-Italic.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: '#{$font-text-name} Bold';
  src: url('../../fonts/#{$font-text-path-name}-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: '#{$font-text-name} Bold Italic';
  src: url('../../fonts/#{$font-text-path-name}-BoldItalic.woff2')
    format('woff2');
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
}
