// Retina
@mixin retina {
  @media screen and (-webkit-min-device-pixel-ratio: 1.5),
    screen and (min-resolution: 144dpi) {
    @content;
  }
}

// Breakpoints, Mobile-first
@mixin mobile-sm {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (min-width: 1025px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1440px) {
    @content;
  }
}

// Actions
@mixin center($axis: xy) {
  position: absolute;

  @if $axis == xy {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @if $axis == x {
    left: 50%;
    transform: translate(-50%, 0);
  }

  @if $axis == y {
    top: 50%;
    transform: translate(0, -50%);
  }
}

@mixin img() {
  display: block;
  max-width: 100%;
  height: auto;
}

// States
@mixin hf {
  &:hover,
  &:focus {
    @content;
  }
}

@mixin trans($dur: 0.3) {
  transition: all $dur + s;
}

// Fonts
@function rem($val) {
  @return $val / 16 + 0rem;
}

@mixin font($style: te-400) {
  @if $style == ti-400 {
    font-family: '#{$font-title-name} Regular', sans-serif;
  }

  @if $style == ti-500 {
    font-family: '#{$font-title-name} Medium', sans-serif;
  }

  @if $style == ti-700 {
    font-family: '#{$font-title-name} Bold', sans-serif;
  }

  @if $style == te-400 {
    font-family: '#{$font-text-name} Regular', sans-serif;
  }

  @if $style == te-400-it {
    font-family: '#{$font-text-name} Italic', sans-serif;
  }

  @if $style == te-700 {
    font-family: '#{$font-text-name} Bold', sans-serif;
  }

  @if $style == te-700-it {
    font-family: '#{$font-text-name} Bold Italic', sans-serif;
  }
}
