// Colors
$color-primary: #008fff;
$color-bg: #000000;
$color-bg--light: #2c2c2c;
$color-title: #e2f1f8;
$color-text: #cfd8dc;
$color-text--dark: #9ea7aa;
$color-gradient: radial-gradient(circle, rgba(255, 128, 0, 1) 0%, rgba(255, 2, 152, 1) 100%);

// Bulma breadcrumbs
$breadcrumb-item-color: $color-primary;
$breadcrumb-item-hover-color: $color-bg;
$breadcrumb-item-active-color: $color-text;
$breadcrumb-item-padding-horizontal: rem(10);
$breadcrumb-item-separator-color: $color-text;

// Bulma section
$section-padding: rem(30) 0;
$section-padding-desktop: rem(30) 0;
$section-padding-medium: rem(40) 0;
$section-padding-large: rem(50) 0;

// Fonts
$font-text-name: 'Lato';
$font-text-path-name: $font-text-name;
$font-title-name: 'Comfortaa';
$font-title-path-name: $font-title-name;

// Misc
$container-width: 890px;
$container-padding: 15px;
$shadow-primary: 5px 5px 10px 0px rgba($color-primary, 0.6);
