// Fonts
$font-text-name: 'Lato';
$font-text-path-name: $font-text-name;
$font-title-name: 'Comfortaa';
$font-title-path-name: $font-title-name;

// Colors
$color-primary: #008fff;
$color-bg: #000000;
$color-bg--light: #2c2c2c;
$color-title: #e2f1f8;
$color-text: #cfd8dc;
$color-text--dark: #9ea7aa;
$color-gradient: linear-gradient(to right, #c33764, #1d2671);

// Misc
$container-width: 890px;
$container-padding: 15px;
$shadow-primary: 5px 5px 10px 0px rgba($color-primary, 0.6);
