@import 'src/styles/includes/includes';

.link {
  @include trans;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 rem(-10);
  color: $color-title;

  @include hf {
    .title,
    .view-all {
      span {
        color: $color-bg;
        background-color: $color-primary;
      }
    }
  }
}

.title,
.view-all {
  span {
    @include trans;
  }
}

.title {
  @include font(ti-400);
  padding: 0 rem(10);
  font-size: rem(24);

  @include laptop {
    font-size: rem(28);
  }
}

.view-all {
  @include font(ti-400);
  padding: 0 rem(10);
  font-size: rem(20);
  flex-shrink: 0;

  @include laptop {
    font-size: rem(24);
  }
}
