@import 'src/styles/includes';

.item {
  &:first-child {
    padding-right: $breadcrumb-item-padding-horizontal;

    a.link {
      padding-right: 0;
    }
  }
}

a.link {
  @include trans;
  display: block;

  @include hf {
    color: $color-bg;
    background-color: $color-primary;
  }

  &::first-letter {
    text-transform: capitalize;
  }
}
