@import 'src/styles/includes/includes';

.wrapper {
  @include tablet {
    display: flex;
    margin: 0 rem(-10);
  }
}

.cover {
  width: 100%;

  @include mobile-sm {
    max-width: rem(400);
    margin-bottom: rem(20);
  }

  @include tablet {
    width: 35%;
    padding: 0 rem(10);
  }

  @include laptop {
    width: 30%;
  }
}

.content {
  width: 100%;

  @include tablet {
    width: 65%;
    padding: 0 rem(10);
  }

  @include laptop {
    width: 70%;
  }
}

.pic {
  display: block;
  overflow: hidden;
  border-radius: 5px;

  @include hf {
    img {
      transform: scale(1.2);
    }
  }

  img {
    @include trans;
    object-fit: cover;
  }
}

.title {
  @include font(ti-700);
  font-size: rem(26);

  @include laptop {
    font-size: rem(30);
  }

  &__link {
    @include trans;
    display: block;

    span {
      @include trans;
      color: $color-title;
    }

    @include hf {
      span {
        color: $color-bg;
        background-color: $color-primary;
      }
    }
  }
}

.additional {
  margin-top: rem(10);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 rem(-10);
  margin-bottom: rem(10);
}

.tag {
  padding: 0 rem(10) rem(10);

  &__link {
    @include trans;
    display: block;
    font-size: rem(16);
    color: $color-primary;

    @include laptop {
      font-size: rem(22);
    }

    @include hf {
      color: $color-bg;
      background-color: $color-primary;
    }
  }
}

.excerpt {
  @include font;
  font-size: rem(16);
  color: $color-text;

  @include laptop {
    font-size: rem(18);
  }
}
