@import 'src/styles/includes/includes';

.posts {
  padding: rem(30) 0;
  background-color: $color-bg;

  @include laptop {
    padding: rem(40) 0;
  }
}

.page-link {
  margin-bottom: rem(20);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: rem(-40);
}

.col {
  width: 100%;
  margin-bottom: rem(40);
}
