@import 'src/styles/includes/includes';

.featured {
  padding: rem(20) 0;
  background-image: $color-gradient;

  @include laptop {
    padding: rem(30) 0;
  }
}

.page-link {
  margin-bottom: rem(20);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 rem(-10) rem(-20);
}

.col {
  width: 100%;
  padding: 0 rem(10) rem(20);

  @include tablet {
    width: 50%;
  }
}
