@import 'src/styles/includes/includes';

.featured {
  position: relative;
  padding: rem(30) 0;
}

.bg {
  position: absolute;
  z-index: 0;
  top: 0;
  left: calc((100vw - 60vw) / 2 * -1);
  width: 100vw;
  height: 100%;
  background-image: $color-gradient;
}

.wrapper {
  position: relative;
  z-index: 1;
}

.page-link {
  margin-bottom: rem(20);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 rem(-10) rem(-20);
}

.col {
  width: 100%;
  padding: 0 rem(10) rem(20);

  @include tablet {
    width: 50%;
  }
}
