@import 'src/styles/includes';

.rich-text {
  :global {
    .kg {
      &-bookmark {
        &-container {
          display: block;
          overflow: hidden;
          border: rem(2) solid $color-primary;
          border-radius: 5px;
          box-shadow: $shadow-primary;

          @include tablet {
            display: flex;
          }

          @include hf {
            .kg-bookmark {
              &-content {
                &::before {
                  opacity: 1;
                }
              }
            }
          }
        }

        &-content {
          position: relative;
          z-index: 1;
          padding: rem(20);

          @include tablet {
            width: 60%;
          }

          @include laptop {
            padding: rem(30) rem(20);
          }

          &::before {
            @include trans;
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;
            display: block;
            opacity: 0;
            width: 100%;
            height: 100%;
            background-image: $color-gradient;
            content: '';
          }
        }

        &-title {
          @include font(ti-700);
          position: relative;
          z-index: 1;
          margin-bottom: rem(5);
          font-size: rem(16);
          color: $color-title;

          @include laptop {
            font-size: rem(20);
          }
        }

        &-description {
          position: relative;
          z-index: 1;
          margin-bottom: rem(20);
          font-size: rem(16);
          color: $color-text;

          @include laptop {
            font-size: rem(20);
          }
        }

        &-metadata {
          position: relative;
          z-index: 1;
          display: flex;
          align-items: center;
        }

        &-icon {
          width: rem(20);
          height: rem(20);
          margin-right: rem(10);

          @include laptop {
            width: rem(24);
            height: rem(24);
            margin-right: rem(15);
          }
        }

        &-author {
          font-size: rem(16);
          color: $color-text;

          @include laptop {
            font-size: rem(20);
          }
        }

        &-publisher {
          margin-left: rem(10);
          font-size: rem(16);
          color: $color-text;

          @include laptop {
            font-size: rem(20);
          }
        }

        &-thumbnail {
          @include tablet {
            width: 40%;
          }

          img {
            max-width: none;
            width: 100%;
            object-fit: cover;

            @include tablet {
              height: 100%;
            }
          }
        }
      }

      &-code-card {
        pre {
          overflow: auto;
          padding: rem(20);
          margin: 0;
          border: rem(2) solid $color-primary;
          border-radius: 5px;
          box-shadow: $shadow-primary;
          background: $color-bg;

          @include laptop {
            padding: rem(30) rem(20);
          }
        }

        code {
          padding: 0;
          border: none;
          font-size: rem(20);

          @include laptop {
            font-size: rem(24);
          }
        }
      }

      &-gallery {
        &-container {
          + figcaption {
            margin-top: rem(25);

            @include laptop {
              margin-top: rem(30);
            }
          }
        }

        &-row {
          display: flex;
          flex-wrap: wrap;
          margin: 0 rem(-20) rem(-25);

          @include container {
            width: calc(100vw + #{rem(10)});
            margin: 0 calc((100vw - (#{$container-width} - (#{$container-padding} * 2)) + #{rem(10)}) / 2 * -1) rem(-25);
          }

          @include laptop {
            width: calc(100vw + #{rem(15)});
            margin: 0 calc((100vw - (#{$container-width} - (#{$container-padding} * 2)) + #{rem(15)}) / 2 * -1) rem(-30);
          }
        }

        &-image {
          flex-grow: 1;
          width: 50%;
          padding: 0 rem(5) rem(10);

          @include tablet {
            width: 33.3333%;
          }

          @include laptop {
            padding: 0 rem(7.5) rem(15);
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      &-image-card {
        &.kg-width {
          &-wide,
          &-full {
            img {
              max-width: none;
              width: calc(100% + (#{$container-padding} * 2));
              margin: 0 calc(#{$container-padding} * -1);
            }
          }

          &-wide {
            img {
              @include container {
                width: calc(100vw - ((100vw - (#{$container-width} - (#{$container-padding} * 2))) / 2));
                margin: 0 calc((100vw - (#{$container-width} - (#{$container-padding} * 2))) / 4 * -1);
              }
            }
          }

          &-full {
            img {
              @include container {
                width: 100vw;
                margin: 0 calc((100vw - (#{$container-width} - (#{$container-padding} * 2))) / 2 * -1);
              }
            }
          }
        }

        img {
          @include container {
            max-width: 100%;
            width: auto;
            margin: 0 auto;
          }
        }
      }
    }

    a {
      &:not(.kg-bookmark-container) {
        @include trans;
        color: $color-text;
        background-image: $color-gradient;
        background-position: 0 100%;
        background-size: 100% rem(2);
        background-repeat: repeat-x;

        @include hf {
          background-size: 100% rem(20);

          @include laptop {
            background-size: 100% rem(24);
          }
        }
      }
    }

    blockquote {
      @include font(te-400-it);
      position: relative;
      padding-left: rem(20);
      font-size: rem(20);
      color: $color-text;

      @include laptop {
        font-size: rem(24);
      }

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: rem(3);
        height: 100%;
        border-radius: 5px;
        background: $color-primary;
        content: '';
      }

      &:not(:last-child) {
        margin-bottom: rem(25);

        @include laptop {
          margin-bottom: rem(30);
        }
      }
    }

    code {
      padding: rem(2) rem(5);
      border: rem(1) solid $color-primary;
      border-radius: 5px;
      font-size: inherit;
      color: $color-text;
      background: $color-bg;
    }

    em {
      @include font(te-400-it);

      strong {
        @include font(te-700-it);
      }
    }

    figcaption {
      margin-top: rem(10);
      text-align: center;
      font-size: rem(16);
      color: $color-text--dark;

      @include laptop {
        margin-top: rem(15);
        font-size: rem(20);
      }
    }

    figure {
      &:not(:last-child) {
        margin-bottom: rem(25);

        @include laptop {
          margin-bottom: rem(30);
        }
      }

      + .kg-gallery-card,
      + .kg-image-card {
        margin-top: rem(-15);
      }
    }

    h2 {
      @include font(ti-700);
      font-size: rem(30);
      color: $color-text;

      @include laptop {
        font-size: rem(34);
      }

      &:not(:first-child) {
        margin-top: rem(50);
      }

      &:not(:last-child) {
        margin-bottom: rem(10);
      }

      em,
      strong {
        @include font(ti-700);

        em,
        strong {
          @include font(ti-700);
        }
      }
    }

    h3 {
      @include font(ti-700);
      margin-top: rem(40);
      font-size: rem(24);
      color: $color-text;

      @include laptop {
        font-size: rem(28);
      }

      &:not(:first-child) {
        margin-top: rem(40);
      }

      &:not(:last-child) {
        margin-bottom: rem(10);
      }

      em,
      strong {
        @include font(ti-700);

        em,
        strong {
          @include font(ti-700);
        }
      }
    }

    hr {
      width: 100%;
      height: rem(3);
      border: none;
      border-radius: 5px;
      background-color: $color-primary;

      &:not(:first-child) {
        margin-top: rem(50);
      }

      &:not(:last-child) {
        margin-bottom: rem(50);
      }
    }

    img {
      display: block;
      max-width: 100%;
      height: auto;
    }

    li {
      font-size: rem(20);
      color: $color-text;

      @include laptop {
        font-size: rem(24);
      }

      &:not(:last-child) {
        margin-bottom: rem(15);
      }
    }

    ol,
    ul {
      padding-left: rem(20);

      @include laptop {
        padding-left: rem(25);
      }

      &:not(:last-child) {
        margin-bottom: rem(25);

        @include laptop {
          margin-bottom: rem(30);
        }
      }
    }

    ol {
      li {
        list-style: decimal;

        &::marker {
          @include font(te-700);
          color: $color-primary;
        }
      }
    }

    p {
      font-size: rem(20);
      color: $color-text;

      @include laptop {
        font-size: rem(24);
      }

      &:not(:last-child) {
        margin-bottom: rem(25);

        @include laptop {
          margin-bottom: rem(30);
        }
      }
    }

    strong {
      @include font(te-700);

      em {
        @include font(te-700-it);
      }
    }

    ul {
      li {
        list-style: disc;

        &::marker {
          color: $color-primary;
        }
      }
    }
  }

  &_small {
    :global {
      a {
        &:not(.kg-bookmark-container) {
          @include hf {
            background-size: 100% rem(16);

            @include laptop {
              background-size: 100% rem(16);
            }
          }
        }
      }

      p {
        font-size: rem(16);

        @include laptop {
          font-size: rem(16);
        }

        &:not(:last-child) {
          margin-bottom: rem(5);

          @include laptop {
            margin-bottom: rem(5);
          }
        }
      }
    }
  }
}
